<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{user.usuario.usu_usu}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <button type="button" ng-click="back()">Regresar</button>
    <div class="col-md-12" ng-switch="history">

        <form name="control" ng-submit="add_historial(historial)" ng-switch-when="true">
            <div class="col-md-3">
                <span>Peso</span>
                <input class="form-control" type="text" ng-model="historial.pes_him" required>
            </div>

            <div class="col-md-3">
                <span>Temperatura</span>
                <input class="form-control" ng-model="historial.tem_him" required type="text">
            </div>

            <div class="col-md-3">
                <span>Tension</span>
                <input class="form-control" type="text" ng-model="historial.ten_him" required>
            </div>


            <div class="col-md-3">
                <span>Pulso</span>
                <input class="form-control" type="text" ng-model="historial.pul_him" required>
            </div>

            <div class="col-md-12">
                <span>Sintomas</span>
                <textarea class="form-control" ng-model="historial.can_exa" required></textarea>
            </div>


            <div class="col-md-3">
                <span>Tipo de consulta</span>

                <select class="form-control" ng-model="historial.cod_tic" required>
                    <option ng-repeat="tipo in tipos" value="{{tipo.cod_tic}}">{{tipo.tip_tic}}</option>
                </select>

            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-default" name="Guardar historial">Guardar historial</button>
            </div>
        </form>

        <div ng-switch-when="false">
            <form name="tratamiento" ng-submit="add_tratamiento(tratamiento)">
                <div class="row">

                    <div class="col-md-3">
                        <label>Inicio de tratamiento</label>
                        <input class="form-control" type="date" ng-model="tratamiento.fec_ini_tra" required>
                    </div>

                    <div class="col-md-12" style="margin:10px 0;">
                        <label>Observaciones</label>
                        <textarea class="form-control" rows="8" cols="40" ng-model="tratamiento.obs_tra"></textarea>
                    </div>

                    <div class="col-md-4">
                        <select class="form-control" ng-model="tratamiento.cod_tit" required>
                            <option ng-repeat="tipo in tipo_tratamientos" value="{{tipo.cod_tit}}">{{tipo.nom_tit}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when="exams">
            Son los examenes
        </div>
    </div>
</div>

<footer>
    <p class="pull-right">©2014 Company</p>
</footer>
