<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{user.usuario.usu_usu}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">cerrar sesion</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..." ng-model="userSearch">

            </form>
        </div>
    </div>
</nav>

<div class="container" ng-switch="user.rol.cod_rol">
    <button type="button" ng-click="back()">Regresar</button>
    <div ng-switch-when="1">

        <p>
            Correo: {{user.usuario.rol.cor_usu}}
        </p>

        <div ng-repeat="cita in user.citas | filter: { est_cit: 'Aprobada' }">
            <p>Proxima cita: {{cita.mot_cit}} / {{cita.ini_cit}}</p>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Citas</h3>
                    <p><a ui-sref="citas" class="btn btn-primary" role="button">Entrar</a> </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Expediente</h3>
                    <p><a href="#" class="btn btn-primary" role="button">Entrar</a> </p>
                </div>
            </div>
        </div>

    </div>

    <div ng-switch-when="2">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Celular
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter:userSearch" ng-click="citaDetails(cita.cod_cit)" ui-sref="cita_usuario({ user: user.cod_usu })">
                        <th>
                            {{user.cod_usu}}
                        </th>
                        <td>
                            {{user.nom1_usu}}
                        </td>
                        <td>
                            {{user.ape1_usu}}
                        </td>
                        <td>
                            {{user.usu_usu}}
                        </td>
                        <td>
                            {{user.tel_cas_usu}}
                        </td>
                        <td>
                            {{user.tel_cel_usu}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-switch-when="3">

        <button type="button" ng-click="estado('Pagada')">Mostrar citas pagadas</button>

        <button type="button" ng-click="estado('Pendiente')">Mostrar citas Pendientes</button>

        <button type="button" ng-click="estado('Aprobada')">Mostrar citas Aprobadas</button>

        <button type="button" ng-click="estado('Cancelada')">Mostrar citas Canceladas</button>

        <div class="col-md-12" >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Motivo
                        </th>
                        <th>
                            Dia y Hora
                        </th>
                        <th>
                            Estado:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cita in citas | filter: { est_cit: filterDates }" ng-click="costo(cita.cod_cit)">
                        <th>
                            {{cita.cod_cit}}
                        </th>
                        <td>
                            {{cita.mot_cit}}
                        </td>
                        <td>
                            {{cita.ini_cit}}
                        </td>
                        <td>
                            {{cita.est_cit}}
                        </td>
                        <td ng-switch="cita.est_cit">

                            <div ng-switch-when="Pendiente">
                                <button class="btn"  ng-click="aprobar(cita)">Aprobar</button>

                                <button class="btn" ng-click="cancelar(cita)">Cancelar</button>
                            </div>

                            <div ng-switch-when="Aprobada">
                                <button class="btn"  ng-click="aprobar(cita)">Aprobar</button>

                                <button class="btn" ng-click="cancelar(cita)">Cancelar</button>
                            </div>

                            <div ng-switch-when="Cancelada">
                                <button class="btn"  ng-click="aprobar(cita)">Aprobar</button>
                            </div>

                            <div ng-switch-when="pagada">
                            </div>

                        </td>
                        <td ng-switch="cita.est_cit">
                            <div ng-switch-when="Aprobada">
                                <button class="btn btn-primary"  ng-click="sendMail(cita)">Enviar recordatorio</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <form name="addcita" ng-submit="sendDate(cita)">
                <div class="col-md-3">
                    <span>Fecha de la cita</span>
                    <input class="form-control" type="date" ng-model="cita.dia" min="{{dateToday | date:'yyyy-MM-dd'}}" required/>
                </div>

                <div class="col-md-2">
                    <span>Hora de la cita</span>
                    <select class="form-control" ng-model="cita.hora">
                        <option ng-repeat="hora in horario">{{hora}}</option>
                    </select>
                </div>

                <div class="col-md-7">
                    <span>Motivo</span>
                    <textarea ng-model="cita.mot_cit" required class="form-control"></textarea>
                </div>

                <input type="submit" class="btn ejemplo" value="Agregar Cita">
            </form>
        </div>

        <!-- NOTE: Este es el espacio de las facturas! -->

        <div class="modal fade" id="FacurasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Factura No. {{currentDate.cita.cod_cit}}</h4>
              </div>
              <div class="modal-body">
                  <h2>motivo de la cita: {{currentDate.cita.mot_cit}}</h2>

                  <h4>Tipo de consulta: {{currentDate.costo.tip_tic}}</h4>

                  <h3>Costo de la consulta: ${{currentDate.costo.cos_tic}}</h3>
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-default {{currentDate.isChecked}}" data-dismiss="modal" ng-click="payment(currentDate)">Pagar</button>

              </div>
            </div>
          </div>
        </div>
    </div>

</div>

<footer>
    <p class="pull-right">©2014 Company</p>
</footer>
