<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{user.usuario.usu_usu}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <button type="button" ng-click="back()">Regresar</button>
    <div class="col-md-12" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Motivo
                    </th>
                    <th>
                        Dia y Hora
                    </th>
                    <th>
                        Estado:
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cita in user.citas" ui-sref="control_cita({cita:cita.cod_cit, expediente:user.expediente.cod_exp})">
                    <th>
                        {{cita.cod_cit}}
                    </th>
                    <td>
                        {{cita.mot_cit}}
                    </td>
                    <td>
                        {{cita.ini_cit}}
                    </td>
                    <td>
                        {{cita.est_cit}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<footer>
    <p class="pull-right">©2014 Company</p>
</footer>
