<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{user.usuario.usu_usu}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <button type="button" ng-click="back()">Regresar</button>
    <div class="row">
        <div class="col-md-12">
            <h2>cita {{cita.cita.cod_cit}}:</h2>
            <span>Motivo de la cita: {{cita.cita.mot_cit}};</span>
            <span>Dia: {{cita.cita.ini_cit}}</span>
            <h3>Historial:</h3>
            <p>
                Peso: {{cita.historial.pes_him}}
            </p>
            <p>
                Temperatura: {{cita.historial.tem_him}}
            </p>
            <p>
                Tension: {{cita.historial.ten_him}}
            </p>
            <p>
                Pulso: {{cita.historial.pul_him}}
            </p>
            <h3>Costo: ${{cita.costo.cos_tic}}</h3>
        </div>
    </div>
</div>

<footer>
    <p class="pull-right">©2014 Company</p>
</footer>
