<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{user.usuario.usu_usu}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <button type="button" ng-click="back()">Regresar</button>
    <div class="col-md-12" >


        <button type="button" ng-click="estado('Pendiente')">Mostrar citas Pendientes</button>

        <button type="button" ng-click="estado('Aprobada')">Mostrar citas Aprobadas</button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Codigo de cita
                    </th>
                    <th>
                        Motivo
                    </th>
                    <th>
                        Dia y Hora
                    </th>
                    <th>
                        Estado:
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cita in user.citas | filter: { est_cit: filterDates }" ui-sref="cita({id: cita.cod_cit})">
                    <th>
                        {{cita.cod_cit}}
                    </th>
                    <td>
                        {{cita.mot_cit}}
                    </td>
                    <td>
                        {{cita.ini_cit}}
                    </td>
                    <td>
                        {{cita.est_cit}}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="cancelar(cita)">Cancelar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <form name="addcita" ng-submit="sendDate(cita)">
            <div class="col-md-3">
                <span>Fecha de la cita</span>
                <input class="form-control" type="date" ng-model="cita.dia" min="{{dateToday | date:'yyyy-MM-dd'}}" required/>
            </div>

            <div class="col-md-2">
                <span>Hora de la cita</span>
                <select class="form-control" ng-model="cita.hora">
                    <option ng-repeat="hora in horario">{{hora}}</option>
                </select>
            </div>

            <div class="col-md-7">
                <span>Motivo</span>
                <textarea ng-model="cita.mot_cit" required class="form-control"></textarea>
            </div>

            <input type="submit" class="btn" value="Agregar Cita">
        </form>
    </div>
</div>

<footer>
    <p class="pull-right">©2014 Company</p>
</footer>
