<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                <!--<img src="http://placehold.it/150x50&text=Logo" alt="">-->
            </a>
        </div>
        <div class="row">
            <div class=" col-md-7">
            </div>
            <div class="col-md-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-toggle="modal" data-target="#register">Registrate</a>
                    </li>
                    <li>
                        <!-- NOTE: Se Abre un modal de bootstrap cuando se da click en este a -->
                        <a data-toggle="modal" data-target="#login">iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://lorempixel.com/900/350/business/" alt="">
        </div>
        <div class="col-md-4">
            <h1>Consulta nuestros horarios</h1>
            <div class="row">
                <form ng-submit="sendDate()">
                    <div class="col-md-6">
                        <span>Fecha de la cita</span>
                        <input class="form-control" type="date" ng-model="dia" min="{{dateToday | date:'yyyy-MM-dd'}}" required/>
                    </div>

                    <div class="col-md-4">
                        <span>Hora de la cita</span>
                        <select class="form-control" ng-model="hora" required>
                            <option ng-repeat="hora in horario">{{hora}}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Verificar horario</button>
                </form>

                <h3 style="color:{{color_message}}">{{message}}</h3>

            </div>
        </div>
    </div>

    <hr>

    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                This is a well that is a great spot for a business tagline or phone number for easy access!
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-6">
            <h2>Mision</h2>
            <p>Brindar una atencióny serviciosdesaludconintegridady eficienciaanuestros pacientes,  contribuyendo   así   mismo   a  la  prevención  y   recuperación  que conduzcan al  bienestar  y  mejoramiento de la calidad de vida de toda la comunidad.</p>
        </div>
        <div class="col-md-6">
            <h2>Visión</h2>
            <p>Lograraltosestándaresdecalidadenlaatenciónensaluddelosusuariosdela comunidadquerequiere nuestros servicios.</p>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

<!-- NOTE: Este es el modal del registro -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLavel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Registrate</h4>
        </div>

        <!-- NOTE: En este formulario usamos una directiva para el submit -->

        <form name="registerform" ng-submit="registUser(register)">

            <div class="modal-body">
                <label>Usuario:</label>
                <input type="text" class='form-control'  ng-model="register.nom1_usu" required>

                <label>Apellido</label>

                <input type="text" class='form-control'  ng-model="register.ape1_usu" required>

                <label>Fecha de Nacimiento</label>

                <input type="date" class='form-control'  ng-model="register.fec_nac_usu" required>

                <label>Genero</label>

                <select class="form-control" required ng-model="register.gen_usu">
                    <option  value="hombre">Hombre</option>
                    <option  value="mujer">Mujer</option>
                </select>


                <label>Contraseña</label>

                <input type="password" class='form-control'  ng-model="register.con_usu" required>


                <label>Usuario</label>

                <input type="text" class='form-control'  ng-model="register.usu_usu" required>

                <label>Correo electronico</label>

                <input type="mail" class='form-control'  ng-model="register.cor_usu" required>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary">Registrar</button>

            </div>

        </form>
      </div>
    </div>
</div>
<!-- Modal de sesion-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">iniciar sesion</h4>
      </div>
      <!-- NOTE: En este formulario usamos una directiva para el submit -->
      <form name="loginform" ng-submit="accept()">

          <div class="modal-body">
              <label>Usuario:</label>
              <!-- NOTE: guardamos los valores de los inputs en un modelo de usuario -->
              <input type="text" class='form-control'  ng-model="user.user" required>

              <label>contrasena:</label>
              <!-- NOTE: Guyardammos los valores de lso inputs en un modelo de usuario.password -->
              <input type="password" class='form-control'  ng-model="user.password" required>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

            <button type="submit" class="btn btn-primary">iniciar</button>

          </div>

      </form>
    </div>
  </div>
</div>
